<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!--creating menus-->
    <menuitem id="hospital_root" name="Hospital" sequence="1" web_icon="om_hospital,static/description/icon.png"/>
    <menuitem id="hospital_patient" name="Patients" parent="hospital_root" action="action_patient" sequence="10"/>
    <menuitem id="hospital_doctor" name="Doctor" parent="hospital_root" action="action_doctor" sequence="20"/>
    <menuitem id="hospital_appointment" name="Appointments" parent="hospital_root" action="action_appointment" sequence="30"/>
    <menuitem id="hospital_lab" name="Lab" parent="hospital_root" action="action_lab" sequence="40"/>
</odoo>
